@charset "utf-8";

// Page
.page {
    .page-content {
        img { zoom: $zoombase; }
    }
}

// Navigation
#nav {
    position: fixed;
    width: $base-nav-width;
    height: 100vh;
    padding: 1.6rem;
    background: $background-nav;
    font-size: $font-size-m;
    cursor: default;
    border-width: .1rem;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, .08), rgba(0, 0, 0, .03)) 1 100%;
    overflow-y: auto;

    .logo {
        margin: .4rem auto 2.4rem;
        img {
            height: 3.2rem;
        }
        a{
            display: inline-block;
        }
    }
    .title {
        display: block;
        padding: .8rem .8rem .4rem;
        margin-top: 1.6rem;
        text-transform: uppercase;
        font-size: $font-size-s;
        font-weight: 700;
        line-height: 1.6rem;
        letter-spacing: -.02rem;
        color: $secondary-color;
    }
    ul {
        list-style: none;
    }
    .active a {
        color: #000;
        background: rgba(rgba(0, 0, 0, .05), .05);
    }
    a {
        display: block;
        padding: 1rem .8rem;
        text-decoration: none;
        color: $text-color;
        border-radius: $base-radius;
        transition: transform .2s ease;
        position: relative;
        &:hover {
            color: #000;
            background: rgba(rgba(0, 0, 0, .05), .05);
            transform: translateX(.1rem);
        }
    }
    // a:before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     right: -1.7rem;
    //     width: 0;
    //     background: rgba($color: $text-color, $alpha: .4);
    //     transition: none;
    //     border-radius: 1px;
    // }
    // a:hover:before {
    //     width: .1rem;
    //     transition: all .2s ease-in-out;    
    // }
}

// Content
#content {
    animation: content-animation .5s;
    margin-left: $base-nav-width;
    padding: 4.8rem 4.0rem 4.8rem 7.2rem;

    h1 {
        font-size: 3.8rem;
        line-height: 4.8rem;
        font-weight: 600;
        margin-bottom: 2.4rem;
    }
    h2 {
        font-size: 2.0rem;
        line-height: 3.2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }
    p, ul, ol{
        line-height: 2rem;
        max-width: 64rem;
        margin-bottom: 2rem;
    }
    img {
        border-radius: .1rem;
    }
    .page-summary {
        margin-bottom: 4.8rem;
    }
    .anchor {
        color: $secondary-color;
        text-decoration: none;
        margin: -.16rem 0 0 -1.1em !important;
        padding: 0;
        font-size: 2rem !important;
        &:hover {
            color: $text-color;
        }
    }
}

@keyframes content-animation {
    from { transform: translateY(2px);}
    to { transform: translateY(0); }
  }