@charset "utf-8";

// General styles
table th { font-weight: bold; }
table th, table td { 
  border: 1px solid #ddd;
  padding: 6px 13px;
}
table tr {
    border-top: 1px solid #ccc;
    background-color: #fff; 
}
table tr:nth-child(2n) { background-color: #f8f8f8; }

blockquote {
  border-left: 4px solid #DDD;
  padding: 0 16px;
  margin: 0;
  color: #777;
}

// Navigation
#nav {
    position: fixed;
    width: $base-nav-width;
    height: 100vh;
    padding: 1.6rem;
    background: $background-nav;
    font-size: $font-size-m;
    cursor: default;
    border-width: .1rem;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, .08), rgba(0, 0, 0, .03)) 1 100%;
    overflow-y: auto;

    .logo {
        margin: 2.8rem auto 1.4rem;
        img {
            height: 3.2rem;
        }
        a{
            position: relative;
            display: inline-block;
            transition-property: all;
            &:hover {
                background: rgba($color: #5D9CFB, $alpha: .2);
                transform: rotateZ(-2deg);
                border-radius: 16px;
                animation: logoAnimation 8s ease infinite;
                animation-fill-mode: forwards;
                animation-direction: alternate;
            }
            @keyframes logoAnimation {
                to {
                    filter: hue-rotate(1440deg);
                }
            }
        }
    }
    .title {
        display: block;
        padding: .8rem .8rem .4rem;
        margin-top: 1.6rem;
        text-transform: uppercase;
        font-size: $font-size-s;
        font-weight: 700;
        line-height: 1.6rem;
        letter-spacing: -.02rem;
        color: $secondary-color;
    }
    ul {
        list-style: none;
    }
    .active a {
        color: #000;
        background: rgba(rgba(0, 0, 0, .05), .05);
    }
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem .8rem;
        text-decoration: none;
        color: $text-color;
        border-radius: $base-radius;
        transition: padding .2s ease;
        position: relative;
        &:hover {
            color: #000;
            background: rgba(rgba(0, 0, 0, .05), .05);
            padding-left: .9rem;
            .tag {
                width: auto;
                height: auto;
                text-indent: 0;
                transform: translateX(.2rem);
            }
        }

        .tag {
            width: .6rem;
            height: .6rem;
            text-indent: -9999px;
            position: relative;
            padding: .1rem .3rem;
            text-transform: uppercase;
            border-radius: .3rem;
            font-weight: 600;
            font-size: .9rem;
            letter-spacing: -.03rem;
            color: #FFF;
            position: absolute;
            right: .6rem;
            transition: transform .2s ease;
        }
        .tag.inprogress {
            background: #5F9EFB;
        }
        .tag.new {
            background: #3DB843;
        }
        .tag.shiny {
            background: #550F5B;
        }
    }
}

// Content
#content {
    animation: content-animation .5s;
    margin-left: $base-nav-width;
    padding: 4.8rem 4.0rem 4.8rem 7.2rem;

    a { color: #5F9EFB; }
    h1 {
        font-size: 3.8rem;
        line-height: 4.8rem;
        font-weight: 600;
        margin-bottom: 2.4rem;
        position: relative;
        .anchor-figma {
            height: 50%;
            display: block;
            position: absolute;
            background: transparent url('/assets/images/figma.svg') no-repeat center left;
            filter: grayscale(100%);
            background-size: 1.6rem 1.6rem;
            margin: 1.5rem 0 0 -2.2rem;
            padding-right: 2.8rem;
            opacity: 0;
        }
        &:hover {
            .anchor-figma {
                opacity: .64;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    h2 {
        font-size: 2.0rem;
        line-height: 3.2rem;
        font-weight: 600;
        margin-bottom: 1.6rem;
        padding-top: 2rem;
    }
    p {
        line-height: 2rem;
        max-width: 64rem;
        margin-bottom: 2rem;
    }
    ul, ol {
        line-height: 2rem;
        max-width: 64rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
    }
    img {
        border-radius: .1rem;
        margin: 1.2rem 0;
    }
    .page-summary {
        font-size: 1.6rem;
        margin-bottom: 4.8rem;
    }
    .anchor {
        color: $secondary-color;
        text-decoration: none;
        margin: -.14rem 0 0 -1.1em !important;
        padding: 0;
        font-size: 2rem !important;
        &:hover {
            color: $text-color;
        }
    }
}

@keyframes content-animation {
    from { transform: translateY(2px);}
    to { transform: translateY(0); }
}

// Custom scrollbar on Windows
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}
.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  right: 0;
  position: absolute;
}
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
  left: auto !important;
}
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-y,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}
.ps .ps__rail-y:hover,
.ps .ps__rail-y:focus,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}
.ps__thumb-y {
  background-color: rgba($color: #000, $alpha: .5);
  border-radius: 7px;
  transition: background-color 0.1s linear, width 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s linear, width 0.1s ease-in-out;
  width: 7px;
  right: 2px;
  left: auto !important;
  position: absolute;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: rgba($color: #000, $alpha: .5);
  width: 11px;
}
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}