---
layout: default
---
<div class="page">
<article>
  <header>
    {% if page.title %}
    <h1>{{ page.title }}</h1>
    {% endif %}

    {% if page.tags %}
      {% assign tags = page.tags  | split: "," %}
    <ul class="page-tags">
        {% for tag in tags %}
          {% assign tagid = tag | downcase | replace: " ", "" %}
          <li class="tag {{ tagid }}">{{ tag }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if page.summary %}
    <div class='page-summary' markdown="1">{{ page.summary | markdownify }}</div>
    {% endif %}
  </header>

  <div class="page-content">
    {{ content }}
  </div>
</article>
</div>